.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);

  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.btn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
