.app_dark_theme {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;

  --inverted-primary-color: #022bb2;
  --inverted-secondary-color: #0449e0;

  --skeleton-shadow: #2b2be8;
  --skeleton-color: #1515ad;

  --code-bg: #1212a1;

  --card-bg: #0d0d6b;
}
