.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;

  --primary-color: #022bb2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;

  --skeleton-shadow: rgba(0 0 0 / 20%);
  --skeleton-color: #ffff;

  --code-bg: #ffffffc0;

  --card-bg: #d5d5d7;
}
